In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df=df.drop(['id'],axis=1)

In [4]:
df['delivery date']=pd.to_datetime(df['delivery date'])

In [5]:
df['month_Dd'] = pd.DatetimeIndex(df['delivery date']).month

In [6]:
df['placement date']=pd.to_datetime(df['placement date'])

In [7]:
df['month_Pd'] = pd.DatetimeIndex(df['placement date']).month

In [8]:
df=df.drop(['placement date','delivery date','month_Pd'],axis=1)

In [9]:
df=df.drop(['departure city'],axis=1)

In [10]:
df=df.drop(['address code'],axis=1)

In [11]:
df['delivery type']=df['delivery type'].fillna(df['delivery type'].mode()[0])

In [12]:
df.head()

,discount,price,no of items,location,class,segment,sub-class,delivery type,RID,profit,departure state,month_Dd
0,0.2,16.448,2,Central,kariox,Consumer,phone,Standard Class,7981,5.5512,Texas,1
1,0.0,29.700,5,Central,kariox,Consumer,headset,Standard Class,6334,13.3650,Michigan,1
2,0.0,14.730,3,Central,qexty,Consumer,shorts,Standard Class,6333,4.8609,Michigan,1
3,0.0,43.920,3,Central,kariox,Consumer,television,Standard Class,6332,12.7368,Michigan,1
4,0.0,66.580,2,Central,kariox,Consumer,laptop,Standard Class,6331,15.9792,Michigan,1

In [13]:
data=pd.get_dummies(df)

In [16]:
data=data.drop(['location_Central','class_fynota','segment_Consumer','sub-class_battery','delivery type_Second Class','departure state_Arizona'],axis=1)

In [18]:
data.head()

,discount,price,no of items,RID,profit,month_Dd,location_East,location_South,location_West,class_kariox,...,departure state_South Carolina,departure state_South Dakota,departure state_Tennessee,departure state_Texas,departure state_Utah,departure state_Vermont,departure state_Virginia,departure state_Washington,departure state_Wisconsin,departure state_Wyoming
0,0.2,16.448,2,7981,5.5512,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
1,0.0,29.700,5,6334,13.3650,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0.0,14.730,3,6333,4.8609,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,43.920,3,6332,12.7368,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0.0,66.580,2,6331,15.9792,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [19]:
y=data['profit']

In [20]:
X=data.drop(['profit'],axis=1)

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression , Ridge
from sklearn.metrics import accuracy_score

In [23]:
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [24]:
scaler=StandardScaler()

In [25]:
X_train_scaled= scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [26]:
ridg= Ridge(alpha=50).fit(X_train_scaled,y_train)

In [27]:
ridg.score(X_test_scaled,y_test)

-0.551809568533963

In [29]:
from sklearn.ensemble import RandomForestRegressor

In [30]:
rm= RandomForestRegressor().fit(X_train_scaled,y_train)

In [31]:
rm.score(X_test_scaled,y_test)

-0.2482847578948073